{% extends 'base.html.twig' %}

{% block title %} Détails de voyage {% endblock %}

{% block body %}
<h1>Détails de l'voyage</h1>
<p><strong>Immatriculation:</strong> {{ voyage.immatriculation }}</p>
<p><strong>Marque:</strong> {{ voyage.marque }}</p>
<p><strong>Modèle:</strong> {{ voyage.modele }}</p>

<a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}" class="btn btn-warning">Modifier</a>
<a href="{{ path('app_voyage_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
