{% extends 'basefront.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container mt-5">
    
<h1 class="text-center text-primary">
    {% if 'ROLE_DOCTEUR' in app.user.roles %}
        Docteur
    {% elseif 'ROLE_USER' in app.user.roles %}
        Patient
    {% elseif 'ROLE_CHAUFFEUR' in app.user.roles %}
        CHAUFFEUR
    {% elseif 'ROLE_ADMIN' in app.user.roles %}
        Admin
    {% endif %}
</h1>

        <div class="card shadow p-4">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nom</th>
                        <td>{{ user.nom }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Prénom</th>
                        <td>{{ user.prenom }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Mot de passe</th>
                        <td>********</td> {# Masquer le mot de passe pour plus de sécurité #}
                    </tr>
                    <tr>
                        <th scope="row">Numéro de téléphone</th>
                        <td>{{ user.numTel }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Genre</th>
                        <td>{{ user.genre }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Image</th>
                        <td>
                            {% if user.image %}
                                <img src="{{ asset('uploads/' ~ user.image) }}" class="img-thumbnail" width="150">
                            {% else %}
                                <span class="text-muted">Aucune image</span>
                            {% endif %}
                        </td>
                    </tr>
                     <th>QR Code</th>
                        <td>
                            {{ qrCodeResult.getString() | raw }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center mt-4">
                <a href="{{ path('app_user_edit_profile', {'id': app.user.id}) }}" class="btn btn-primary">
                    <i class="fas fa-edit"></i> Modifier le profil
                </a>
            </div>
        </div>
    </div>
{% endblock %}
