{% extends 'backbase.html.twig' %}

{% block title %}Forum index{% endblock %}

{% block body %}
    <h1>Forum index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Image</th>
                <th>actions</th>
                <th>         DatePublication</th>
                
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td>{{ forum.id }}</td>
                <td>{{ forum.titre }}</td>
                <td>{{ forum.contenu }}</td>
                <td>
                            {% if forum.image %}
                                <img src="{{ asset('uploads/' ~ forum.image) }}" class="img-thumbnail" width="150">
                            {% else %}
                                <span class="text-muted">Aucune image</span>
                            {% endif %}
                        </td>
                        <td>
                    <a href="{{ path('app_forum_show', {'id': forum.id}) }}">show</a>
                    <a href="{{ path('app_forum_edit', {'id': forum.id}) }}">edit</a>
                </td>
                <td>
                
                <td>{{ forum.datePublication ? forum.datePublication|date('Y-m-d H:i:s') : '' }}</td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_forum_new') }}">Create new</a>
{% endblock %}
